{% extends "bootstrap/base.html" %}
{% include "navbar.html" %}
{% block title %}Release Details{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><h4>By Environment</h4></div>
    <div class="col-md-8">

    {% for env in envs %}
        <a class="btn btn-default" href="/env/{{env}}" role="button">{{env}}</a>
    {% endfor %}
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><h4>By Application</h4></div>
    <div class="col-md-8">
    {% for app in apps %}
        <a class="btn btn-default" href="/app/{{app}}" role="button">{{app}}</a>
    {% endfor %}
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
